{% extends "mapTemplate.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'blog/css/detail.css'%}">
{% endblock%}

{% block content %}

<div class="detail-page">
  <div class="image">
    {% if detail.thumbnail %}
    <img src="{{detail.thumbnail.url}}" alt="thumbnail" width='600'>
    {% else %}
    <img src="{% static 'image/default.jpg' %}" alt="thumbnail" width='600'>
    {% endif %}
  </div>
  <h1>{{ detail.title }}</h1>
  <p> {{ detail.pub_date }} </p>
  <p> {{ detail.body }} </p>


  <a href="{% url 'tempHome' %}"><img src="{% static 'shared/image/home.png'%}" alt="home"></a>
  <a href="{% url 'delete' detail.id %}"><img src="{% static 'shared/image/delete.png' %}" alt="delete"></a>
  <a href="{% url 'edit' detail.id %}"><img src="{% static 'shared/image/edit.png' %}" alt="edit"></a>
  <h4>{{detail.address}}</h4>
  <div id="naver-map"></div>
</div>
{% endblock %}

{% block javascript %}
<script type="module">
  import NaverMap from "/static/shared/js/NaverMap.js"

    const staticUrl = "{{ STATIC_URL }}";
    const latitude = parseFloat("{{ detail.latitude }}");
    const longitude = parseFloat("{{ detail.longtitude }}");

    const naverMap = new NaverMap(staticUrl);
    naverMap.render({latitude,longitude})
</script>
{% endblock %}