{% extends 'accountsBase.html' %}
{% load static %}

{% block title %}
Muklog | tempHome
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}

<body class="blog">

  {% if user.is_authenticated %}

  {% if error %}
  {{ error }}
  {% endif %}

  <div class="posts">
    {% if blogs %}
    {% for blog in blogs %}
    <div class="card">
      <div class="content">
        <div class="thumbnail">
          {% if blog.thumbnail %}
          <a href="{% url 'detail' blog.id %}">
            <img src="{{ blog.thumbnail.url }}" alt="image" />
          </a>
          {% endif %}
        </div>
        <div class="opening">
          <h2>{{ blog.title }}</h2>
          <!-- <p>{{blog.pub_date}}</p> -->
        </div>
        <p class="sum">{{ blog.summary }}</p>
      </div>
      <div class="others">
        <a href="{% url 'detail' blog.id %}"><img src="{% static 'shared/image/more.png' %}" alt="more"></a>
        <a href="{% url 'edit' blog.id %}"><img src="{% static 'shared/image/edit.png' %}" alt="edit"></a>
        <a class="delete" href="{% url 'delete' blog.id %}"><img src="{% static 'shared/image/delete.png' %}"
            alt="delete"></a>
      </div>
    </div>
    {% endfor %}

    {% else %}
    <p>좌측 상단의 <img src="{% static 'shared/image/plus.png'%}" alt="write" width="14" height="14">
      를 눌러 첫 글을 작성해보세요.
    </p>

    {% endif %}
  </div>
  {% else %}
  <p>
    로그인하여 글을 작성해주세요.
  </p>
  {% endif %}


</body>
{% endblock %}