{% extends 'accountsBase.html' %} {% load static %} {% block title %} Muklog |
tempHome {% endblock %} {% block css %} {% endblock %} {% block content %}

<main>
  {% if user.is_authenticated %}
  <!-- {% if messages %}
    {% for message in messages %}
    {{ message.tags }}
    {{ message }}
    {% endfor %}
    {% endif %} -->
  {% if error %} {{ error }} {% endif %}
  <div>
    {% if blogs %} {% for blog in blogs %} {% if blog.thumbnail %}
    <img src="{{ blog.thumbnail.url }}" alt="thumbnail" width="600" />
    {% else %}
    <img
      src="{% static '/shared/image/default.jpg' %}"
      width="600"
      alt="default-thumbnail"
    />
    {% endif %}

    <h1>{{ blog.title }}</h1>
    <p>{{blog.pub_date}}</p>
    <p>{{ blog.summary }}</p>
    <a href="{% url 'detail' blog.id %}">더보기</a>
    <a href="{% url 'edit' blog.id %}">수정하기</a>
    <a href="{% url 'delete' blog.id %}">삭제하기</a>
    <hr />
    {% endfor %} {% else %}
    <p>write를 눌러 첫 글을 등록해주세요.</p>

    {% endif %}
  </div>
  {% endif %}
</main>

{% endblock %}
