{% extends "mapTemplate.html" %}
{% load static %}

{% block title %}
Muklog | Write
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/map.css' %}" />
<link rel="stylesheet" href="{% static 'blog/css/write.css' %}">
{% endblock %}

{% block content %}
<div class="write-page">
  <div id="naver-map"></div>
  <div id="map-search">
    <input type="text" id="search" placeholder="주소를 검색해보세요." />
    <button id="search-btn">검색</button>
  </div>
  <div>
    <div id="search-list"></div>
    <form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- <h4>title:</h4> -->
      <div class="write-contents">
        <input id="post-title" type="text" name="title" placeholder="제목을 입력하세요."/>
        <div class="underBar"></div>
        <!-- <h4>주소</h4> -->
        <input type="text" name="address" id="place-input" placeholder="주소를 입력하세요."/>
        <!-- <h4>body:</h4> -->
        <input type="file" name="image" id="imageUpload" accept="media/*" />
        <textarea class="autosize" onkeydown="resize(this)" onkeyup="resize(this)" name="body" placeholder="당신의 이야기를 적어보세요..."></textarea>
        <input type="text" name="lat" id="map-lat" value="" placeholder="위도" hidden/>
        <input type="text" name="lng" id="map-lng" value="" placeholder="경도" hidden/>
        <input id="uploadButton" type="submit" value="올리기" />
      </div>
    </form>
    <div class="goToHomes">
      <a href="{% url 'home' %}"><img src="{% static 'shared/image/mapHome.png'%}" alt="goToMap"></a>
      <a href="{% url 'tempHome' %}"><img src="{% static 'shared/image/blogHome.png'%}" alt="goToBlog"></a>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %}
<script>
  function resize(obj) {
      obj.style.height = "1px";
      obj.style.height = (12 + obj.scrollHeight) + "px";
  }
</script>
<script type="text/javascript"
  src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ naver_client_id }}&submodules=geocoder"></script>
<script type="module">
  import SearchMap from "../static/blog/js/SearchMap.js";

  const staticUrl = "{{ STATIC_URL }}";
  const searchList = document.getElementById("search-list");
  const searchInput = document.getElementById("search");
  const searchBtn = document.getElementById("search-btn");

  const placeInput = document.getElementById("place-input");
  const mapLat = document.getElementById("map-lat");
  const mapLng = document.getElementById("map-lng");

  const searchMap = new SearchMap(staticUrl, searchList, mapLat, mapLng);

  searchMap.render();
  searchMap.setClickListener(mapLat, mapLng, placeInput);
  searchBtn.addEventListener("click", (event) =>
    searchMap.searchPlaces(
      searchInput.value,
      searchList,
      mapLat,
      mapLng,
      placeInput
    )
  );
</script>
{% endblock %}