@font-face {
    font-family: 'MapoPeacefull';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav {
    /* top: 0;
    width: 100%;
    position: fixed; */
    font-family: 'Pacifico', cursive;
    position: relative;
    background-color: #fafafa;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
    align-items: center;
    margin-bottom: 10px;
}

.nav a{
    color: #2e2e2d;
}

.nav-left a {
    float: left;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-right a {
    font-family: 'MapoPeacefull';
    float: right;
    font-weight: bolder;
    align-items: center;
    padding: 14px 16px;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.nav-left a:hover, .nav-right a:hover {
    background-color: #ddd;
}

.nav-center a {
    height: 100%;
    padding: 14px 16px;
    float: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-weight: bold;
}

.nav-center a:hover {
    color: #f5be7fcd ;
}