* {
    box-sizing: border-box;
}

.posts {
    padding: 20px;
    /* width: 25%; */
    /* margin-left: auto;
    margin-right: auto; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

.thumbnail {
    padding: 30px;
    max-height: 300px;
    /* max-width: 300px; */
    overflow: hidden;
    margin-bottom: 20px;
}

.thumbnail img {
    max-height: initial;
    /* margin-left: -15%; */
    width: 100%;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow : 5px 5px 5px #b5b4b1;
}

.card div {
    text-align: center;
}

.opening {
    text-align: center;
}

.opening h1 {
    margin-bottom: 10px;
}

.others {
    margin-top: 20px;
    margin-bottom: initial;
}

