* {
    box-sizing: border-box;
}

.blog{
    background-color: #fafafa;
}

.posts {
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

.thumbnail, .sum {
    /* padding: 10px; */
    max-height: 300px;
    max-width: inherit;
    overflow: hidden;
    margin-bottom: 20px;
}

.sum{
    padding: 20px;
}

.thumbnail img {
    max-height: initial;
    margin-top: -15%;
    width: 100%;
}

.card {
    background-color: white;
    /* padding: 20px; */
    /* border-radius: 8px; */
    /* box-shadow : 3px 3px 3px #b5b4b1; */
    /* border: 2px solid #e1e1e1; */
}

.card div {
    text-align: center;
}

.opening {
    text-align: center;
    margin-bottom: 20px;
}

.opening h1 {
    margin-bottom: 10px;
}

 .others {
    margin: 20px; 
}

.others a img{
    margin-left: 10px;
}

