{% extends 'accountsBase.html'%}

{% block title%}
Muklog | SignUp
{% endblock %}

{% block content %}

<div>
    {% if error %}
    {{error}}
    {% endif %}
    <h1>회원가입</h1>
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        Username: <input type="text" name="username" id="">
        <br>
        Password: <input type="password" name="password1" id="">
        <br>
        Confirm Password: <input type="password" name="password2" id="">
        <br>
        <input type="hidden" name="next" value={{next}}>
        <input type="submit" value="sign up">
    </form>
</div>

{% endblock %}