{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'shared/css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'shared/css/navbar.css' %}">
  {% block css %}
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="nav">
    {% if user.is_authenticated %}
    <!-- left -->
    <div class="nav-left">
      <a href={% url 'write' %}>
        <img src="{% static 'shared/image/plus.png' %}" alt="write">
      </a>
    </div>

    <!-- title -->
    <div class="nav-center">
      <a href="{% url 'tempHome' %}">Muklog</a>
    </div>
    <!-- right -->
    <div class="nav-right">
      <a href={% url 'logout' %}?next={{request.path}}>
        <img src="{% static 'shared/image/logout.png' %}" alt="logout">
      </a>
      <a href={% url 'mypage' user.username %}>
        <img src="{% static 'shared/image/user.png' %}" alt="user">
      </a>
    </div>

    {% else %}

    <!-- title -->
    <div class="nav-center">
      <a href="{% url 'tempHome' %}">Muklog</a>
    </div>

    <div class="nav-right">
      <a href={% url 'login' %}?next={{request.path}}>
        <!-- <img src="{% static 'shared/image/login.png' %}" alt="login"> -->
        로그인
      </a>
      <a href={% url 'signup' %}?next={{request.path}}>
        가입하기
      </a>
    </div>

    {% endif %}

  </div>

  <!-- body content -->
  {% block content %}
  {% endblock %}

  <script type="text/javascript"
    src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ naver_client_id }}"></script>
  {% block javascript %}
  {% endblock %}
</body>

</html>