{% extends 'mapTemplate.html' %}
{% load static %}

{% block content %}
  <style>
    #naver-map {
      width: 500px;
      height: 500px;
    }
  </style>

  <a href="{% url 'login' %}?next={{ request.path }}">login~</a>
  <div id="naver-map"></div>
  <div id="temp"></div>
{% endblock %}

{% block javascript %}
  <script type="module"> 
    import ClusteredMap from "../static/map/js/ClusteredMap.js";  
    const mukLogs = [];
    let logs = null;

    {% for muk_log in muk_logs %}
    logs = {
      title:"{{ muk_log.title }}",
      summary:"{{ muk_log.summary }}",
      latitude:"{{ muk_log.latitude }}",
      longitude:"{{ muk_log.longtitude }}",
      address:"{{ muk_log.address }}",
    }
    mukLogs.push(logs);
    {% endfor %}

    const staticUrl = "{{ STATIC_URL }}";
    const clusteredMap = new ClusteredMap(staticUrl);
    clusteredMap.render();
    clusteredMap.setClustering(mukLogs);
  </script>
{% endblock %}
